# Ignore virtual environment folders
venv/
.env/
.venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs and databases
*.log
*.sqlite3

# Environment variables / config
*.env
.envrc
